$couleur-primaire: #ececec;
$couleur-secondaire: #1350B3;
$couleur-tertiaire: #3d3d3d;

$font-primaire: Verdana, Geneva, Tahoma, sans-serif;
$font-secondaire: Arial, Helvetica, sans-serif;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin main-container {
    padding: 40px 60px 0;
    margin: 0;
}

@mixin list {
    list-style-type: circle;
   
}

@mixin title {
    font-size: 36px;
    font-family: $font-secondaire;
}

@mixin subtitle {
    font-size: 28px;
    font-weight: 500;
    color: $couleur-tertiaire;
    font-family: $font-primaire;
    margin: 10px 0;
}

@mixin little-subtitle {
    font-size: 18px;
    font-weight: 500;
    font-family: $font-primaire;
    margin: 8px 0;
}

@mixin dates {
    font-size: 14px;
    font-family: $font-primaire;
    margin: 5px 0;
}

@mixin texte {
    font-size: 16px;
    font-family: $font-primaire;
    margin: 10px 0;
}

@mixin hover {
    color: black;
    cursor: pointer;
}

@mixin mobile {
  @media (min-width: 375px) and (max-width: 1024px) {
    @content;
  }
}

